.my-card {
  padding: 20px;
  border-radius: 20px;
}
.preview-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.731);
  z-index: 99999;
}
.exit-btn {
  position: fixed;
  font-size: 2rem;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 99999;
  cursor: pointer;
}
.image-wrapper {
  padding: 10px;
}
.image-wrapper img {
  width: 100%;
}
